



<div class="row-fluid">
    <div class="span1"></div>
    <div class="span3">
        <div>
            <input type="text" ng-model="searchTerm" ng-change="search()"></input>
        </div>
        <div>
            <select ng-model="selectedRegion" ng-options="region.id for region in regions" ng-change="search()">
                <option value="">-- choisissez une region --</option>
            </select>
        </div>

    </div>
    <div class="span8 offset3">
        <table class="table table-hover">
            <tr ng-repeat="offre in offres">
                <td>
                    <img ng-src="{{offre.image}}" class="img-rounded">
                </td>
                <td>
                    {{offre.description}}
                </td>
                <td>
                    {{offre.price}}
                </td>
                <td>
                    {{offre.city}}
                </td>
            </tr>

        </table>
    </div>


</div>
