
<div class="row-fluid">
    <div class="span2">
        Votre critère:
    </div>
    <div class="span2">
        <input type="text" ng-model="searchTerm" ng-change="search()"></input>
    </div>
</div>



<div class="row-fluid">
    <div class="span1"></div>
    <div class="span10">
        <table class="table table-hover">
            <tr ng-repeat="offre in offres">
                <td>
                    <img ng-src="{{offre.image}}" class="img-rounded">
                </td>
                <td>
                    {{offre.description}}
                </td>
                <td>
                    {{offre.price}}
                </td>
            </tr>

        </table>
    </div>


</div>
